* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

:root {
    --first-color: #4effef;
    --second-color: #73a6ad;
    --third-color: #9b97b2;
    --fourth-color: #D8A7CA;
    --fifth-color: #c7b8ea;
    --sixth-color: #22c1c3;
}

header {
    font-size: 1.1rem;
    background: rgb(216,167,202);
    background: radial-gradient(circle, var(--fourth-color) 80%, var(--sixth-color) 100%);
    text-align: center;
    text-transform: capitalize;
    border-bottom: black 2px solid;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    /* margin: 20px; */
    margin-bottom: 10px;
    font-size: 3.5rem;
    /* text-transform: lowercase; */
    /* font-weight: bolder; */
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
    padding-bottom: 4px;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 12px;
    border-radius: 40%;
}

nav ul li a:hover {
    background-color: #73a6ad;
    color: whitesmoke;
    /* font-weight: bold; */
    /* transform: scale(); */
}

a {
    color: black;
}

a:visited {
    color: black;
}

a.volver-arriba {
    position: fixed;
    left: 90vw;
    top: 95vh;
    display: inline;
}

div.encabezado{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section {
    height: 100vh;
    border-bottom: black 2px solid;
    background-color: var(--fifth-color);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

section.welcome {
    height: 80vh;
    background-color: var(--second-color);
}

article {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #22c1c3;
}

.silaba {
    animation: color-animation 4s linear infinite;
}

.silaba-1 {
    --color-1: var(--first-color);
    --color-2: var(--second-color);
    --color-3: whitesmoke;
}

.silaba-2 {
    --color-1: var(--third-color);
    --color-2: whitesmoke;
    --color-3: var(--first-color);
}

.silaba-3 {
    --color-1: whitesmoke;
    --color-2: var(--fifth-color);
    --color-3: var(--second-color);
}

.silaba-4 {
    --color-1: var(--fifth-color);
    --color-2: var(--first-color);
    --color-3: var(--second-color);
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    32% {
        color: var(--color-1)
    }

    33% {
        color: var(--color-2)
    }

    65% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    99% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}